body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
H1 {
    color: #66BFBF;
    font-size: 5rem;
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Merriweather', serif;
}

H2 {
    color:  #66BFBF;
    font-family: 'Merriweather', serif;
    font-size: 2.5rem;
    font-weight: normal;

}
H3 {
    color: #11999E;
    font-family: 'Merriweather', serif;
}

p {
  line-height: 2;
}

hr {
  background-color: transparent;
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 6px;
  width: 5%;
  margin: 80px auto 80px auto;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container {
background-color:  #66BFBF;
padding-top: 50px;
padding-bottom: 30px;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 80px auto 80px auto;
  text-align: left;
}

.seo-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.ui-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 05px 0;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
  color: white;
}

.btn-div {
  margin: 80px auto auto auto;

}
.contact-me {
  margin: 80px auto 80px auto;
}

a:link {
  color: #11999E;
  font-family: 'Roboto', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
